{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link href="{%static 'app/css/style.css' %}" rel="stylesheet" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TKSXKT</title>
    </head>

    <body>
        <!--Header menu -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src=" {% static 'app/images/LOGO.png' %}" height="50" width ="50" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'thongke' %}">Thống kê</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'quaythu' %}">Quay thử</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>

        <!-- Main body -->
        {% block main-content %} {% endblock main-content %}
        {% block banner_slider %} {% endblock banner_slider %}

        {% block tke_content %} {% endblock tke_content %}

        {% block try %} {% endblock try %}
        <script src="" async defer></script>
        <!-- footer -->

        <footer class="container-- fluid gb-success text-center fixed-bottom p-2 mt-5">
            copyright
        </footer>
    </body>
</html>