{% extends 'app/base.html' %}
{% load static %}

{% block banner_s %}
<div class="button-container">
    <a class="mtk" href="{% url 'thongke' %}">
        <button class="button-with-background1">Thống kê<br><br>Hiển thị tổng số lượt xổ số cho biết tỉ lệ trúng thưởng để có thể dự đoán được con số xổ vào các tuần sau</button>
    </a>
    <a class="mqt" href="{% url 'quaythu' %}">
        <button class="button-with-background2">Quay thử - Dự đoán<br><br>Hệ thống sẽ cho bạn dự đoán các con số giúp bạn xác định các con số và khi mua bạn sẽ có cơ hội thắng giải</button>
    </a>
</div>
<br>


{% endblock banner_s %}

