{% extends 'app/base.html' %}
{% load static %}

{% block tke_content %}

<canvas id="myChart" width="10" height="2"></canvas>

<div class="button-containertk">

    <a class="mtk" href="{% url 'thongke50' %}">
        <button class="buttontk50">50</button>
    </a>
    <a class="mqt" href="{% url 'thongke100' %}">
        <button class="buttontk100">100</button>
    </a>
    <a class="mqt" href="{% url 'thongke200' %}">
        <button class="buttontk200">200</button>
    </a>
    <a class="mqt" href="{% url 'thongke500' %}">
        <button class="buttontk500">500</button>
    </a>
</div>
<br>







<div class="flex-container">
    <div class="left-table">
        <h1>Số lần quay gần nhất: 50</h1>

        <table>
        <thead>
            <tr>
            <th>Số</th>
            <th>Số lần xuất hiện</th>
            </tr>
        </thead>
        <tbody>
            {% for num, count in number_counts %}
            <tr>
                <td>{{ num }}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>    
    <div class="right-tables">
        <div class="table-container">
            <h2>3 con số xuất hiện ít nhất</h2>
            <table>
            <thead>
                <tr>
                <th>Số</th>
                <th>Số lần xuất hiện</th>
                </tr>
            </thead>
            <tbody>
                {% for num, count in min_numbers %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>    
        <div class="table-container">
            <h2>3 con số xuất hiện nhiều nhất</h2>
            <table>
            <thead>
                <tr>
                <th>Số</th>
                <th>Số lần xuất hiện</th>
                </tr>
            </thead>
            <tbody>
                {% for num, count in max_numbers %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>



<canvas id="myChart" width="10" height="2"></canvas>


{% endblock tke_content %}













